<html>
  <head>
    
  </head>
  <body>
    
    <div id="container">
      <label>Enter Text : </label>
      <input type="text" id="container" placeholder="enter text" v-model="value">
      <p>{{ value }}</p>
    </div>

    <div id='app'>
      <h2>Reverse a String</h2>
     <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
   </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
    <script>
      
      new Vue({
        el: '#container',
        data: {
          value: '',
        },
      });

      new Vue({
        el: '#app',
        data: {
          message: "Mobilytes Solutions"
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
    })


      
    </script>
    
  </body>
</html>